/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Chakra Petch', sans-serif;
    line-height: 1.6;
    margin: 20px;
    background-color: #fafad2;
    /* Beige background for eye protection */
    color: #333;
    /* Ensure text color is readable on the new background */
}

header,
nav,
footer {
    text-align: center;
    margin-bottom: 20px;
}

main {
    margin: 0 auto;
    width: 50%;
    text-align: left;
    background-color: #fafad2;
    /* Light goldenrod yellow for main content */
    padding: 20px;
    border-radius: 8px;
}

pre {
    white-space: pre-wrap;
    /* Enable line wrapping in code blocks */
}

/* Navigation menu */
nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 1em;
    /* Ensure the font size is consistent */
    font-weight: normal;
    /* Ensure the font weight is normal */
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Responsive design for smaller screens */
@media (max-width: 600px) {
    main {
        width: calc(100% - 10px);
        /* Full width minus 5px margin on each side */
        margin: 5px;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }
}

.markdown-body img {
    display: block;
    margin: 10px auto;
    max-width: 90% !important;
}

.markdown-body figcaption {
    margin-top: 5px !important;
    font-style: italic !important;
    color: gray;
}

/* Article links */
#article-list-container {
    width: 80%;
    margin: 0 auto;
}

#article-list {
    text-align: left;
    width: 100%;
}

#article-list div {
    text-align: left;
    margin: 0 auto;
    display: inline-block;
    width: 100%;
}

#article-list a {
    text-decoration: underline;
    color: black;
    font-size: 1em;
    display: block;
    margin: 4px 0;
    font-weight: normal;
    /* Set font weight to normal */
}

#article-list a:hover {
    color: black;
}

/* Markdown content should keep its original format */
#content {
    text-align: left;
}

/* Add styles for article entries */
.article-entry {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.article-date {
    margin-right: 10px;
    font-size: 1.3em;
    font-weight: bold;
}

.article-title {
    font-size: 1em;
    /* Ensure the font size is consistent */
    font-weight: normal;
    /* Ensure the font weight is normal */
    text-decoration: underline;
    color: black;
}

.article-title:hover {
    color: black;
}